<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nan Gamers</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
        <link  href="./css/style.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <header class="header-bg text-center py-4">
            <h1>Nan Gamers </h1>
            <h5>Seu sonho, você realiza aqui!</h5>
        </header>
        <div class="card1">
            <div class="row text-center">
                <div class="col">
                    <a href="/">Pagina Incial</a>
                    <a href="/cliente/cadastro">Cadastrar um novo cliente</a>
                    <a href="/cliente/detalhes">Cadastrar uma nova venda</a> 
                    <a href="/cliente/listar">Exibir todos os clientes cadastrados</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 ">
                <div class="card" >
                    <img src="https://d1sfzvg6s5tf2e.cloudfront.net/Custom/Content/Products/73/78/7378_videogame-sony-ps5-slim-spider-man-imp_l5_638429206036168183.webp" class="card-img-top" alt="pS5">
                    <div class="card-body">
                        <h5 class="card-title">PS5 + Spider-man 2</h5>
                        <p class="card-text">A partir de R$:5.500,00 <br>R$: 4.900,00 no pix</p>
                        <a href="vendas.html" class="btn btn-dark" id="btnComprar" onclick="alert('Compra encaminhada ao carrinho'); return vendas.html;">Comprar</a>
                    </div>
                </div>
                <div class="card">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ7XspXzkxzDqqnhFWTmvg7hfVIeVXUptGZq-D4iy1uypxtKlpe" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">God Of War Ragnarok</h5>
                        <p class="card-text"> A partir de R$:300,00 <br>R$: 280,00 no pix</p>
                        <a href="vendas.html" class="btn btn-dark" id="btnComprar" onclick="alert('Compra encaminhada ao carrinho'); return vendas.html;">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_655628-MLA80880159223_112024-O.webp" class="card-img-top" alt=" ">
                    <div class="card-body">
                        <h5 class="card-title">Xbox Series X</h5>
                        <p class="card-text"> A partir de R$: 5.199,00 <br>  R$:5.000,00 no pix</p>
                        <a href="vendas.html" class="btn btn-dark" id="btnComprar" onclick="alert('Compra encaminhada ao carrinho'); return vendas.html;">Comprar</a>
                    </div>
                </div>
                <div class="card">
                    <img src="https://cdn.ggmax.com.br/images/8945951bb127299e34f23a960d548189.sm.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Forza</h5>
                        <p class="card-text">A partir de R$:230,00 <br>R$: 200,00 no pix</p>
                        <a href="vendas.html" class="btn btn-dark" id="btnComprar" onclick="alert('Compra encaminhada ao carrinho'); return vendas.html;">Comprar</a>
                    </div>
                </div>


            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="https://http2.mlstatic.com/D_Q_NP_802777-MLU77881323465_072024-O.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nintendo Switch</h5>
                        <p class="card-text">A partir de R$:2.300,00 <br>R$: 1.900,00 no pix</p>
                        <a href="vendas.html" class="btn btn-dark" id="btnComprar" onclick="alert('Compra encaminhada ao carrinho'); return vendas.html;">Comprar</a>
                    </div>
                </div>
                <div class="card">
                    <img src="https://preview.redd.it/its-the-end-the-big-bad-has-won-the-world-is-now-a-post-v0-bh79kyize1qe1.jpeg?width=250&format=pjpg&auto=webp&s=2310287aeba433a87939f15c4b5af37423dc867c" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">zelda breath of the wild </h5>
                        <p class="card-text">A partir de R$:350,00 <br>R$: 299,00 no pix</p>
                        <a href="vendas.html" class="btn btn-dark" id="btnComprar" onclick="alert('Compra encaminhada ao carrinho'); return vendas.html;">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer pt-5">
            <div class="container">
                <div class="row g-4">

                    <div class="col-lg-4 col-md-6">
                        <h3 class="footer-title">Redes sociais</h3>
                        <p class="mb-4">Siga as nossas redes sociais</p>
                        <div class="social-links mb-4">
                            <a href="#"><img src="https://www.citypng.com/public/uploads/preview/facebook-circle-logo-blue-70175169479332995fhjt438m.png" alt=""><i class="fab fa-facebook-f"></i></a>

                            <a href="#"><img src="https://www.turbinesuasvendas.com.br/wp-content/uploads/job-manager-uploads/company_logo/2021/05/Group-3-150x150.png" alt=""><i class="fab fa-instagram"></i></a>
                            <a href="#"><img src="https://i.pinimg.com/474x/ec/48/37/ec4837a44bbdf7a3782ec42bad8ce63a.jpg" alt=""><i class="fab fa-whats-in"></i></a>
                            <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRpfwoCt3FFhCd3c8TqkeZQMk2NUpCae-EDAHvNawycHbJt1fUQeI5evicZfr_2jxXdTc&usqp=CAU" alt=""><i class="fab fa-phone"></i></a>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-6">
                        <h3 class="footer-title">Acessos rapidos</h3>
                        <ul class="footer-links">
                            <li><a href="#">Sobre nós</a></li>
                            <li><a href="#">Serviços</a></li>
                            <li><a href="#">Produtos</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contatos</a></li>
                        </ul>
                    </div>



                    <div class="col-lg-4 col-md-6">
                        <h3 class="footer-title">Boletin Informativo</h3>
                        <p class= "mb-4">Assine nosso boletin informativo para receber notificações sobre novidades.</p>
                        <form class="mb-4">
                            <div class="input-group">
                                <input type="email" class="form-control newsletter-input" placeholder="Email">
                                <button class="btn btn-subscribe text-white" type="submit">Inscrever-se

                                </button>
                            </div>
                        </form>
                        <p class="small">Ao assinar, você concorda com nossa Política de Privacidade e consente em receber atualizações.</p>
                    </div>
                </div>
            </div>


            <div class="footer-bottom mt-5">
                <div class="container">
                    <div class="row py-3">
                        <div class="col-md-6 text-center text-md-start">
                            <p class="mb-0">&copy; Nan Games 2025</p>
                        </div>

                    </div>
                </div>
        </footer>



        <script src="index.js"></script>

    </body>

</html>